body {
    font-family: Arial;
    width: 550px;
    padding: 10px
}

.form-container {
    background: #F0F0F0;
    border: #e0dfdf 1px solid;
    padding: 20px;
    border-radius: 2px;
    width: 550px;
    height: 450px;
}

form {
    display: block;
    margin: 10px;
    background: #d3d3d3;
    border-radius: 3px;
    padding: 15px
}

.progress {
    display: none;
    position: relative;
    margin: 20px;
    width: 400px;
    background-color: #ddd;
    border: 1px solid blue;
    padding: 1px;
    left: 15px;
    border-radius: 3px;
}

.progress-bar {
    background-color: green;
    width: 0%;
    height: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.percent {
    position: absolute;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -20px;
    -webkit-border-radius: 4px;
}

#outputImage {
    display: none;
}

.error {
    color: #ad7b7b;
    background: #ffb3b3;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 3px;
    border: #f1a8a8 1px solid;
}

input#uploadImage {
    border: #f1f1f1 1px solid;
    padding: 6px;
    border-radius: 3px;
}

#outputImage img {
    max-width: 300px;
}

#submitButton {
    padding: 7px 20px;
    background: #9a9a9a;
    border: #898a89 1px solid;
    color: #F0F0F0;
    margin-left: 10px;
    border-radius: 3px;
    font-size: 0.8em;
}

.error {
    
}